html, body {
  margin: 5px;
}

body {
  background: #ffffff;
  font-family: "calibri", Helvetica, Arial, sans-serif;
  color: #333;
  padding-top: 10px;
}
label{
  font-family: "calibri", Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.todo-complete{
  text-decoration: line-through;
  color: #000000;
}
.todo-notcomplete{
  color: #000000;
}

.table{
  background-color: #f6f6f3;
  position:relative;
  border-radius: 2px;
}
tbody{
  border-color: #dff0d8;
}
table:after{
  border-left:2px solid hsla(0,95%,50%,.1);
  border-right: 2px solid hsla(0,95%,50%,.1);
  bottom: 0;
  content: '';
  left: 50px;
  position: absolute;
  top: 0;
  width: 7px;
}
.custom-button {
  border-color: lightcoral;
  background-color: lightcoral;
  opacity: 0.7;
  color: white;
  border-radius: 3px;
}
.panel{
  border-color: lightcoral;
  opacity: 0.8;

}
.panel-heading{
  background-color: lightcoral;
  border-color: lightcoral;
  opacity: 0.8;
  color: white;
}
.well{
  background-color: #f6f6f3;
}