html, body, ul, ol {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color: offwhite;
  font-size: 62.5%;
}

.headerBackground {
  height: 150px;
  background: -webkit-linear-gradient(left top, peachpuff, lightcoral);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, lightcoral, palevioletred);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, lightcoral, palevioletred);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, peachpuff, lightcoral);
  /* Standard syntax */
}
.headerBackground .headerTitle {
  font-family: "Times New Roman",Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #f5f5f5;
  color: white;
}

.table {
  background-color: #f6f6f3;
  position: relative;
  border-radius: 2px;
}
.table tbody {
  border-color: #dff0d8;
}

table:after {
  border-left: 2px solid rgba(249, 6, 6, 0.1);
  border-right: 2px solid rgba(249, 6, 6, 0.1);
  bottom: 0;
  content: '';
  left: 50px;
  position: absolute;
  top: 0;
  width: 7px;
}

.panel {
  border-color: lightcoral;
  opacity: 0.9;
}
.panel .panel-heading {
  background-color: lightcoral;
  border-color: lightcoral;
  color: white;
}

label {
  font-family: "calibri", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.column-padding-left {
  padding-left: 0;
}

.column-padding-right {
  padding-right: 0;
}

.todo-complete {
  text-decoration: line-through;
  color: #000000;
}

.todo-notcomplete {
  color: #000000;
}

.custom-button {
  border-color: lightcoral;
  background-color: lightcoral;
  opacity: 0.7;
  color: white;
  border-radius: 3px;
}

.well {
  background-color: #f6f6f3;
}

.required label:after {
  content: ' *';
  display: inline;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94948;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
