<div class="page-header">
    <h1>ToDO Application</h1>
</div>
<div class="col-md-11 col-md-offset-1">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">ToDo List<span class="glyphicon glyphicon-plus pull-right" ng-click="addNew()"></span></h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Todo List</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listOfTodos">
                            <td>{{$index + 1}}</td>
                            <td>{{list}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

